<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="full-screen" content="yes">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="360-fullscreen" content="true">

  <title>狂点饭宝 赢中餐外卖优惠券 OSU Purdue UIUC</title>
  <link rel="stylesheet" type="text/css" href="/css/coupon.css" />

</head>

<body>
  <!-- for wechat share moment -->
  <div class="noshow">
    <img src="/img/icon.png" />
  </div>

  <!-- game -->
  <div id="result"></div>
  <div id="timer"></div>
  <div id="ricepo">
    <img src="/img/ricepo/0.png" id="r0" />
    <img src="/img/ricepo/1.png" id="r1" class="noshow" />
    <img src="/img/ricepo/2.png" id="r2" class="noshow" />
    <img src="/img/ricepo/3.png" id="r3" class="noshow" />
    <img src="/img/ricepo/4.png" id="r4" class="noshow" />
  </div>
  <div id="start" class="button"> <img src="/img/ricepo/start.png" /> </div>
  <div id="retry" class="noshow button"> <img src="/img/ricepo/retry.png" /> </div>
  <div id="redeem" class="noshow button"> <img src="/img/ricepo/send.png" /> </div>
  <div id="resend" class="noshow button"> <img src="/img/ricepo/resend.png" /> </div>
  <div id="banner">
    手机下载饭宝App 订地道中餐外卖
    <br />
    <span style="font-size: 80%;opacity: 0.8">OSU | Purdue | UIUC</span>
  </div>

  <!--
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/components/hammer.js/hammer.min.js"></script>
  -->
  <script>
  var host = 'http://dev.ricepo.com:8080';
  var audios = [];
  var index = 0;
  for (var i = 0 ;i < 3; i++) {
    audios.push(new Audio('/img/ricepo.wav'));
  }
  function play() {
    audios[index].play();
    index  = (index + 1) % 3;
  }
  var ricepo = document.getElementById('ricepo');
  var result = document.getElementById('result');
  var timer = document.getElementById('timer');
  var start = document.getElementById('start');
  var retry = document.getElementById('retry');
  var redeem = document.getElementById('redeem');
  var resend = document.getElementById('resend');
  var sending = false;
  var number;
  var money;
  var lucky = 3;
  var lock = true;
  var ricepos = [
    document.getElementById('r0'),
    document.getElementById('r1'),
    document.getElementById('r2'),
    document.getElementById('r3'),
    document.getElementById('r4')
  ];

  function showRicepo(index) {
    if (index) {
      play();
    }
    if (index > 4) {index = 4}
    index = index || 0;
    for (var i = 0 ;i < ricepos.length ; i ++) {
      if (i === index) {
        ricepos[i].style.display = 'block';
      }
      else {
        ricepos[i].style.display = 'none';
      }
    }
  }

  start.ontouchend = start.onclick = function () {
    countDown();
  }
  retry.ontouchend = retry.onclick = function () {
    var now = Date.now();
    lucky = parseInt(Math.random()*2 + 2);
    if (now % 10 == 0) {
      lucky = 4;
    }
    if (now % 50 == 0) {
      lucky = 5;
    }
    countDown();
  };

  resend.ontouchend = function () {
    if (number && !sending) {
      sending = true;
      var url = host + "/coupon/columbus,oh/" + number + "/send";
      var xmlhttp=new XMLHttpRequest();
      xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4) {
          sending = false;
          if (xmlhttp.status==200){
            alert('已发送优惠券至' + number);
          }
          else {
            alert('出错啦,请重试');
          }
        }
      }
      xmlhttp.open("POST", url, true);
      xmlhttp.send();
    }
  };

  redeem.ontouchend = function () {
    if (sending || number) {
      return;
    }
    var phone = prompt('请输入您的手机号: (优惠券可在OSU,Purdue,UIUC使用)');
    if (!phone) {return;}

    phone = phone.replace(/\D/g, "");
    if (!phone.length || phone.length < 10 || phone.length > 11) {
      return alert('输入错误,请重新输入');
    }

    //send to server
    sending = true;
    var url = host + "/coupon/columbus,oh/" + phone + "?price=" + money*-1;
    var xmlhttp=new XMLHttpRequest();
    xmlhttp.onreadystatechange=function() {
      if (xmlhttp.readyState==4) {
        sending = false;
        if (xmlhttp.status==200){
          number = phone;
          hide(redeem);
          show(resend);
          alert('已发送优惠券至' + number);
        }
        else if (xmlhttp.status==500 && /exist/.test(xmlhttp.responseText)){
          alert('这个号码用过啦,不能重复使用');
        }
        else {
          alert('出错啦,请重试');
        }
      }
    }
    xmlhttp.open("POST", url, true);
    xmlhttp.send();
  }

  ricepo.ontouchend = function () {
    if (lock ) return;
    money += lucky / 100 ;
    updateMoney();
    if ( money * 100 % 100 < lucky) {
      showRicepo( parseInt(money) );
    }
  }

  function reset() {
    //reset image
    hide(redeem);
    hide(retry);
    hide(resend);
    //timer
    timer.innerHTML = '';
    //result
    money = 0;
    number = null;
  }

  //init
  function countDown ()  {
    showRicepo();
    reset();
    hide(start);
    var count = 3;
    result.innerHTML = count;
    var counter = setInterval(function () {
      count --;
      if (count <= 0) {
        result.innerHTML = "点饭宝";
        clearInterval(counter);
        timeDown();
      }
      else {
        result.innerHTML = count ;
      }
    }, 1000);
  }
  function timeDown () {
    lock = false;
    var time = 100;
    play();
    var clock = setInterval(function () {
      time --;
      if ( time <= 0 ) {
        lock = true;
        clearInterval(clock);
        show(retry);
        if (money) {
          //show(redeem);
        }
        document.title = '我[狂点饭宝] 赢了$' + (money || 0).toFixed(2) + '中餐优惠券，晚饭有着落了！';
        timer.innerHTML = '0.0s';
      }
      else {
        timer.innerHTML = (time/10).toFixed(1) + 's';
      }
    }, 100);
  }

  function show(ele) {ele.style.display = 'block'; }
  function hide(ele) {ele.style.display = 'none'; }
  function updateMoney() {
    result.innerHTML = '$' + (money || 0).toFixed(2);
  }
  //disable the page scroll
  document.ontouchmove = function(event){
    event.preventDefault();
  }


  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61758050-1', 'auto');
  ga('send', 'pageview');

  </script>
</body>

<script>
</script>

</html>
