<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="full-screen" content="yes">
  <meta name="screen-orientation" content="portrait">

  <title>Ricepo饭宝 - Feedback</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
  <style>
  html, body {
  	color: #FF6346;
  	padding: 0;
  	margin: 0;
  }
  body {
    //text-align: center;
  	padding: 5vh;
  	//font-family: 'Avenir Next','Helvetica Neue', Roboto, sans-serif;
  }
  input, textarea, select {
    transition: 0.3s;
  }
  input:focus, textarea:focus, select:focus {
    border-color: #FF6346 !important;
  }
  label {
    font-weight: 400;
  }
  input.button-primary {
    border-color: #FF6346 !important;
    background-color: #FF6346 !important;
  }
  .center {
    text-align: center;
  }
  </style>

</head>

<body>
  <div style="max-width:500px;margin: 0 auto;">
    <h2> Ricepo 用户反馈 </h2>

    <img width="60%" src="/img/p1.png"/>

    <h3 id="thankyou" style="display:none"> 提交成功，Ricepo感谢您的回馈！ </h3>

    <form>
      <label for="category">我想要</label>
      <select id="category" name="category">
        <option value="general">给APP提出问题或建议</option>
        <option value="add-restaurant">申请添加饭店</option>
        <option value="edit-menu">更改 / 添加菜单</option>
      </select>

      <label for="content">具体描述</label>
      <textarea placeholder="希望Ricepo加一个新开张的川菜馆..." id="content" name="content"></textarea>

      <% if(typeof phone == 'undefined' || !phone) { %>
        <label for="phone">联系电话(选填)</label>
        <input type="tel" placeholder="888.668.8521" id="phone" name="phone">
        <p style="margin-top: -10px"> <small style="opacity:0.6;"> Ricepo可能会通过短信和您联系</small> </p>
      <% } else { %>
        <input type="hidden" name="phone" value="<%= phone %>" />
      <% } %>

      <input class="button-primary" id="submit" style="float:right" type="button" value="提交" />
    </form>
  </div>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#submit').click(function() {
        var data = {};
        $('form').serializeArray().map(function(x){data[x.name] = x.value;});
        if (!data.content) {
          return alert('描述不能是空的..');
        }
        // Phone cannot be empty string
        data.phone = data.phone || undefined;
        $('#submit').attr('disabled','disabled');
        $
          .ajax({
            type: 'POST',
            url: 'http://staging.ricepo.com/v1/issues',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
          })
          .done(function() {
            $('label,select,input,textarea,p').hide();
            $('#thankyou').show();
          })
          .fail(function() {
            alert('提交失败，请重试！');
            $("#submit").removeAttr('disabled');
          })
      });
    });
  </script>
</body>


</html>
