.noshow {
  display: none;
}

html, body {
	overflow: hidden;
	color: white;
}

body {
  background: #FF6346;
  text-align: center;
  font-family: 'Helvetica Neue', Tahoma;
}

#cart {
	margin-top: 30vh;
	width: 50vw;
}

#result {
	font-size: 50px;
}

