.noshow {
  display: none;
}

html, body {
	overflow: hidden;
	color: white;
	padding: 0;
	margin: 0;
}

body {
  background: #FF6346;
  text-align: center;
	padding-top: 15vh ;
	font-family: 'Avenir Next','Helvetica Neue', Roboto, sans-serif;
}

#banner {
	position: absolute;
	width: 100%;
	top : 10px;
	font-size: 20px;
	opacity: 0.8;
}

#ricepo{
	height: 30vh;
}
#ricepo img{
	position:absolute;
	left : 50vw;
	margin-left: -15vh;
	height: 30vh;
}

.button,#ricepo img {
	cursor: pointer;
}

#result{
	height: 70px;
	font-size: 50px;
}
#timer{
	height: 22px;
}

.button{
	margin: 3vh 0;
	height: 8vh;
}
.button img{
	height : 100%;
}

